@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, 'SF Pro', 'Segoe UI', oxygen, sans-serif;
    height: 100%;
}

body {
    height: 100%;
    @apply bg-neutral;
}

a {
    @apply hover:underline;
}

.transition-all-250ms {
    transition: all 0.25s ease-out;
}

.bold-shadow {
    box-shadow: 12px 12px 0px 0px #000;
}

h1 {
    @apply font-bold text-4xl mb-2;
}
h2 {
    @apply font-bold text-3xl mb-1.5;
}
h3 {
    @apply font-bold text-2xl mb-1;
}
h4 {
    @apply font-bold text-xl;
}
h5 {
    @apply font-bold text-lg;
}
h6 {
    @apply font-bold text-base;
}
